{% extends 'base.html' %} 
{% load static %} 
{% block title %} Detalhes {% endblock %} 
{% block conteudo %}
<section class="flex justify-center items-center min-h-screen bg-gray-100 p-1">
  <div class="max-w-2xl overflow-hidden bg-white rounded-lg shadow-lg dark:bg-gray-800">
    <img class="object-cover flex mx-auto w-full h-[23rem]" src="{% static carro.imagem %}" alt="{{ carro.nome }}">
    <div class="p-6">
        <div>
            <span class="text-xs font-medium text-orange-400">{{ carro.grupo }}</span>
            <a href="#" class="block mt-2 text-xl font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white outline-none" tabindex="0" role="link">{{ carro.nome }}</a>
            <div class="flex justify-center items-center gap-5 mt-2">
              <div class="bg-orange-400 hover:bg-green-400 font-semibold text-gray-200 hover:text-white duration-500 rounded-md shadow-lg px-8 py-1 flex justify-center items-center gap-2 capitalize ">
                <img src="{% static carro.portas %}" alt="portas" class="h-5">
                <p>portas</p>
              </div>
              <div class="bg-orange-400 hover:bg-green-400 font-semibold text-gray-200 hover:text-white duration-500 rounded-md shadow-lg px-8 py-1 flex justify-center items-center gap-2 capitalize ">
                <img src="{% static carro.malas %}" alt="portas" class="h-5">
                <p>Mala</p>
              </div>
              <div class="bg-orange-400 hover:bg-green-400 font-semibold text-gray-200 hover:text-white duration-500 rounded-md shadow-lg px-8 py-1 flex justify-center items-center gap-2 capitalize ">
                <img src="{% static carro.arcondicionado %}" alt="arcondicionado" class="h-5">
                <p>arcondicionado</p>
              </div>
              <div class="bg-orange-400 hover:bg-green-400 font-semibold text-gray-200 hover:text-white duration-500 rounded-md shadow-lg px-8 py-1 flex justify-center items-center gap-2 capitalize">
                <img src="{% static carro.volante %}" alt="volante" class="h-5">
                <p>Dir.Hidráulica</p>
              </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="flex items-center gap-3">
                <div class="flex items-center">
                    <img class="object-cover h-10 rounded-full" src="{% static 'img/look.png' %}" alt="Avatar">
                </div>
                <button class="bg-green-300 hover:bg-green-400 duration-700 py-1 px-8 rounded-md text-white font-semibold hover:text-gray-200 capitalize mx-auto flex outline-current"><a href="{% url 'confirmada' %}">confirmar reserva</a></button>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
